.main {
  width: 500px;
  height: 600px;
  border-radius: 20px;
  background-color: lightgrey;
}

.product {
  display: flex;
  justify-content: space-around;
  margin-top: 7px;
}

.img {
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  padding-top: 50px;
  margin-top: 50px;
}
.img img {
  width: 150px;
  height: 150px;
  position: relative;
  top: -30px;
  left: 25px;
}

.container{
 display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.main1{
   width: 500px;
  height: 600px;
  border-radius: 20px;
  background-color: lightgrey;
}

