#outerBox {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#innerBox {
  width: 150px;
  height: 150px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
