body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.box {
    width: 500px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
